
   <div class="m-6">
    <h1>Amendments</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Purpose</th>
                <th>Changes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amendment in version.amendments %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ amendment.purpose }}</td>
                <td>{{ amendment.changes }}</td>
                <td>
                 </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
   </div>