{% extends 'base.html.twig' %}

{% block title %}New SpecialResRequirement{% endblock %}

{% block body %}
    <h1>Create new SpecialResRequirement</h1>

    {{ include('sero/special_res_requirement/_form.html.twig') }}

    <a href="{{ path('app_s_e_r_o_special_res_requirement_index') }}">back to list</a>
{% endblock %}
