<form method="post" action="{{ path('app_directorate_delete', {'id': directorate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ directorate.id) }}">
    <button class="btn">Delete</button>
</form>
