{% extends 'base.html.twig' %}

{% block title %}New ReviewerRecommendation{% endblock %}

{% block body %}
    <h1>Create new ReviewerRecommendation</h1>

    {{ include('sero/reviewer_recommendation/_form.html.twig') }}

    <a href="{{ path('app_s_e_r_o_reviewer_recommendation_index') }}">back to list</a>
{% endblock %}
