<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title></title>
		<meta name="generator" content="LibreOffice 7.3.7.2 (Linux)"/>
		<meta name="author" content="Ibra"/>
		<meta name="created" content="2019-09-24T09:08:00"/>
		<meta name="changed" content="2024-04-24T09:53:31.659114273"/>
		<meta name="AppVersion" content="16.0000"/>
		<style type="text/css">
			@page {
				size: 8.5in 11in;
				margin: 1in
			}
			p {
				line-height: 115%;
				text-align: left;
				orphans: 2;
				widows: 2;
				margin-bottom: 0.1in;
				direction: ltr;
				background: transparent
			}
			p.western {
				so-language: en-GB
			}
			p.cjk {
				font-family: ;
				so-language: en-GB
			}
			h2 {
				line-height: 100%;
				text-align: left;
				orphans: 2;
				widows: 2;
				margin-left: 0.5in;
				margin-top: 0;
				margin-bottom: 0;
				direction: ltr;
				background: transparent;
				page-break-after: avoid
			}
			h2.western {
				font-family: "Times New Roman", serif;
				font-size: 14pt;
				so-language: en-GB;
				font-weight: bold
			}
			h2.cjk {
				font-family: "Times New Roman";
				font-size: 14pt;
				so-language: en-GB;
				font-weight: bold
			}
			h2.ctl {
				font-family: "Angsana New";
				font-size: 14pt;
				so-language: th-TH;
				font-weight: bold
			}
		</style>
	</head>
	<body lang="en-US" link="#000080" vlink="#800000" dir="ltr">
		<p lang="en-GB" class="western" align="center" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="5" style="font-size: 20pt">
					<span lang="en-US">
						<b>E<img src="Certificate%20of%20Approval_html_6147e001a1e436b8.gif" name="Picture 1" align="left" hspace="12" width="139" height="129" border="0"/>
							thiopian
							Public Health Institute</b>
					</span>
				</font>
			</font>
		</p>
		<p lang="en-GB" class="western" align="center" style="line-height: 100%; margin-left: -0.49in; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="5" style="font-size: 20pt">
					<span lang="en-US">
						<b>Institutional
							Review Board (EPHI-IRB)</b>
					</span>
				</font>
			</font>
		</p>
		<h2 lang="en-GB" class="western" align="center" style="font-weight: normal">
			<br/>

		</h2>
		<h2 lang="en-GB" class="western" align="center" style="font-weight: normal">
			<br/>

		</h2>
		<h2 lang="en-GB" class="western" align="center" style="font-weight: normal">
			<br/>

		</h2>
		<h2 lang="en-GB" class="western" align="center">
			<font size="4" style="font-size: 16pt">Certificate
				of Approval</font>
		</h2>
		<p lang="en-GB" class="western" align="right" style="line-height: 150%; margin-bottom: 0in; page-break-after: avoid"></p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">Protocol
					number……EPHI-IRB-</font>
			</font>
			<font face="Wingdings, serif">
				<font size="3" style="font-size: 12pt"></font>
			</font>
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">-</font>
			</font>
			<font face="Wingdings, serif">
				<font size="3" style="font-size: 12pt"></font>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">Minutes
					No.: MMM-DD-MM-YYYY</font>
			</font>
		</p>
		<table width="631" cellpadding="7" cellspacing="0">
			<col width="160"/>

			<col width="74"/>

			<col width="352"/>

			<tr>
				<td colspan="3" width="615" valign="top" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Protocol
											Title :</font>
						</font>
					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td width="160" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Investigators:</font>
						</font>
					</p>
				</td>
				<td colspan="2" width="441" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<br/>

					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td width="160" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Institute:</font>
						</font>
					</p>
				</td>
				<td colspan="2" width="441" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<br/>

					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td width="160" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Study
											site/s</font>
						</font>
					</p>
				</td>
				<td colspan="2" width="441" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<br/>

					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td colspan="2" width="249" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Elements
											Reviewed
							</font>
						</font>
					</p>
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">(EPHI-IRB
											AF 01-008/02.0):</font>
						</font>
					</p>
				</td>
				<td width="352" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Attached
							</font>
						</font>
						<font face="Webdings, serif">
							<font size="3" style="font-size: 12pt"></font>
						</font>
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">
								Not attached</font>
						</font>
					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td colspan="2" width="249" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Mode
											of Review
							</font>
						</font>
					</p>
				</td>
				<td width="352" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.08in">
						
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Expedited
							</font>
						</font>
						<font face="Webdings, serif">
							<font size="3" style="font-size: 12pt"></font>
						</font>
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">
								Full Board
							</font>
						</font>
					</p>
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr valign="top">
				<td colspan="2" width="249" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0">
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Decision
											of the meeting</font>
						</font>
					</p>
				</td>
				<td width="352" style="border: 1px solid #000000; padding: 0in 0.08in">
					<p lang="en-GB" class="western" align="justify" style="orphans: 0; widows: 0; margin-top: 0.04in">
						
						<font face="Times New Roman, serif">
							<font size="3" style="font-size: 12pt">Approved
							</font>
						</font>
					</p>
				</td>
			</tr>
		</table>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<br/>

		</p>
		<p lang="en-GB" class="western" style="line-height: 150%; margin-bottom: 0in">
			<font face="Times New Roman, serif">I. Elements approved:  	 1.
				Protocol Version No.: …………………………………………</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 150%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				2. Protocol Version Date:
				…………………………………….….</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 150%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				3. ICF Version No.:
				…………………………</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 150%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				4. ICF Version Date:
				…………………..……</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.5in; text-indent: -0.5in; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="2" style="font-size: 10pt">II.
				</font>
			</font>
			<font face="Times New Roman, serif">.  Obligations of
				the PI:
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-right: -0.73in; margin-bottom: 0in">
			<font face="Times New Roman, serif">1. Should comply with the
				standard international &amp;national scientific and ethical
				guidelines</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-right: -0.43in; margin-bottom: 0in">
			<font face="Times New Roman, serif">2. All amendments and changes
				made in protocol and consent form needs IRB approval</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-bottom: 0in">
			<font face="Times New Roman, serif">3. The PI should report SAE
				within 48 hours of the event</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-bottom: 0in">
			<font face="Times New Roman, serif">4. This approval certificate is
				valid for only one year (specified bellow). The PI should
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-bottom: 0in">
			<font face="Times New Roman, serif">submit continuation request
				before expire date of approval, if projects is to continue</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-right: -0.73in; margin-bottom: 0in">
			<font face="Times New Roman, serif">5. Final report/Thesis and
				Manuscripts should be submitted to the IRB secretariat after
				completion of
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-left: 0.2in; margin-right: -0.73in; margin-bottom: 0in">
			<font face="Times New Roman, serif">the study
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">Institutional
					Review Board Approval Date:</font>
			</font>
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">
					<u></u>
				</font>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">Approval
					Period: From____________ to___________________________</font>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">Follow
					up report expected in:</font>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; text-indent: 0.5in; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<font size="3" style="font-size: 12pt">6
					months   ____       9 months_______one year____</font>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<br/>

		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">
				<b>EPHI-IRB Chairperson</b>
			</font>
			<font face="Times New Roman, serif"></font>
			<font face="Times New Roman, serif">
				<b>EPHI
					Director General</b>
			</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<font face="Times New Roman, serif">Name &amp;Signature
				__________________       		Name &amp;Signature __________________</font>
		</p>
		<p lang="en-GB" class="western" style="line-height: 100%; margin-bottom: 0in">
			<a name="_GoBack"></a>
			<font face="Times New Roman, serif">Date:______________________ 
						Date:_______________</font>
		</p>
	</body>
</html>
