<div class="d-flex align-items-center flex-lg-fill my-1">
	<span class="mr-4">
		<i class="flaticon-network icon-2x text-muted font-weight-bold"></i>
	</span>
	<div class="symbol-group symbol-hover">
		
		 {% for  rec in application.participatingInvestigators %}
		 <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="" data-original-title="Mark Stone">
			<img alt="Pic" src="{{ asset('defaultuser.png') }}">
		</div>
		 {% endfor %}
		<div class="symbol symbol-30 symbol-circle symbol-light">
			<span class="symbol-label font-weight-bold">{{application.participatingInvestigators|length}}</span>
		</div>
	</div>
</div>
