<form method="post" action="{{ path('app_s_e_r_o_investigational_new_drug_delete', {'id': investigational_new_drug.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ investigational_new_drug.id) }}">
    <button class="btn">Delete</button>
</form>
