{% extends 'base.html.twig' %}

{% block title %}Edit ReviewersPool{% endblock %}

{% block body %}
    <h1>Edit ReviewersPool</h1>

    {{ include('sero/reviewers_pool/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reviewers_pool_index') }}">back to list</a>

    {{ include('sero/reviewers_pool/_delete_form.html.twig') }}
{% endblock %}
