{# <form method="post" action="{{ path('app_s_e_r_o_meeting_schedule_delete', {'id': meeting_schedule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting_schedule.id) }}">
    <button class="btn">Delete</button>
</form> #}
