{% extends 'base.html.twig' %}

{% block title %}New ReviewChecklistGroup{% endblock %}

{% block body %}
    <h1>Create new ReviewChecklistGroup</h1>

    {{ include('sero/review_checklist_group/_form.html.twig') }}

 {% endblock %}
