{% extends 'base.html.twig' %}

{% block title %}Edit ParticipatingInvestigator{% endblock %}

{% block body %}
    <h1>Edit ParticipatingInvestigator</h1>

    {{ include('sero/participating_investigator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_s_e_r_o_participating_investigator_index') }}">back to list</a>

    {{ include('sero/participating_investigator/_delete_form.html.twig') }}
{% endblock %}
