<form method="post" action="{{ path('app_s_e_r_o_reviewer_response_delete', {'id': reviewer_response.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reviewer_response.id) }}">
    <button class="btn">Delete</button>
</form>
