{% extends 'base.html.twig' %}

{% block title %}Edit ReviewerResponse{% endblock %}

{% block body %}
    <h1>Edit ReviewerResponse</h1>

    {{ include('sero/reviewer_response/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_s_e_r_o_reviewer_response_index') }}">back to list</a>

    {{ include('sero/reviewer_response/_delete_form.html.twig') }}
{% endblock %}
