{% extends 'base.html.twig' %}

{% block title %}Edit ReviewStatusGroup{% endblock %}

{% block body %}
    <h1>Edit ReviewStatusGroup</h1>

    {{ include('sero/review_status_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_s_e_r_o_review_status_group_index') }}">back to list</a>

    {{ include('sero/review_status_group/_delete_form.html.twig') }}
{% endblock %}
