<div class="col">
{% for label,messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-custom alert-notice alert-light-{{label}} fade show" role="alert">
			<div class="alert-icon">
				<i class="flaticon-{{label}}"></i>
			</div>
			<div class="alert-text">
				<b></b>
				{{ message|trans|raw}}</div>
			<div class="alert-close">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">
						<i class="ki ki-close"></i>
					</span>
				</button>
			</div>
		</div>
	{% endfor %}
{% endfor %}
</div>
