<form method="post" action="{{ path('app_s_e_r_o_financial_disclosure_delete', {'id': financial_disclosure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ financial_disclosure.id) }}">
    <button class="btn">Delete</button>
</form>
