{% extends 'base.html.twig' %}

{% block title %}Edit Downloadables{% endblock %}

{% block body %}
    <h1>Edit Downloadables</h1>

    {{ include('downloadables/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_downloadables_index') }}">back to list</a>

    {{ include('downloadables/_delete_form.html.twig') }}
{% endblock %}
