<form method="post" action="{{ path('app_s_e_r_o_board_member_delete', {'id': board_member.id}) }}" onsubmit="return confirm('Are you sure you want to remove this Board member ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board_member.id) }}">
    <button class="btn">Delete</button>
</form>
